/* Basic page settings */
body {
    background-color: #FFFFFF;
}

/* Banner style */
#banner {
    background-color: #f2e6ff;
    font-family: Garamond, "Times New Roman", serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border: solid 10px #380B61;
}

#banner h1 {
    color: #380B61;
    font-size: 50px;
    padding-left: 1em;
    text-align: left;
}

#banner h2 {
    color: #380B61;
    font-size: 30px;
    text-align: center;
    font-style: bold;
}

/* Navigation bar styling adopted and edited from W3Schools */
/* http://www.w3schools.com/css/css_navbar.asp */
/* Navigation bar style */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #380B61;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: solid 10px #380B61;
    margin-bottom: 2em;
}

#nav li {
    float: left;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 2em;
}

#nav li a {
    display: block;
    color: #f2e6ff;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 10px;
    padding-top: 10px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #190033;
}

/* Table style */
#table table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #380B61;
    text-align: center;
}

#table td {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#table img{
    border: 10px solid #f2e6ff;
    border-radius: 10px;
    height: 250px;
    width: 300px;
}

/* Image detail style */
#imagedetail img {
    border: 10px solid #f2e6ff;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#imageinfo {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Garamond, "Times New Roman", serif;
    border: solid 10px #e6e6e6;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    color: #380B61;
    background-color: #e6e6e6;
}

#imageinfo button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    height: 35px;
    font-size: 24px;
    border-radius: 8px;
    background-color:#730099;
    color: #f0f0f5;
    font-family: Garamond, "Times New Roman", serif;
    margin-bottom: 10px;
}

#imageinfo button:hover {
    background-color:#380B61;
}



/*Form styling */

#form {
    overflow: hidden;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e6e6;
    border: solid 10px #e6e6e6;
    margin-bottom: 30px;
    margin-bottom: 30px;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 26px;
    color: #380B61;
}


.inputstyle input[type=text] {
    width: 300px;
    display: block;
    height: 26px;
    font-size: 26px;
    background-color:#380B61;
    color: #f0f0f5;
    font-family: Garamond, "Times New Roman", serif;
}

.inputstyle input[type=password] {
    width: 300px;
    display: block;
    height: 26px;
    font-size: 26px;
    background-color:#380B61;
    color: #f0f0f5;
    font-family: Garamond, "Times New Roman", serif;
}

.inputstyle input[type=radio] {
    width: 20px;
    height: 20px;
}

/* Code adapted and edited from http://jsfiddle.net/YvCHW/6932/ */
.inputstyle select {
    background-color:#380B61;
    width: 300px;
    font-size: 20px;
    height: 30px;
    color: #f0f0f5;
    font-family: Garamond, "Times New Roman", serif;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.inputstyle input[type=submit] {
    padding: 2px;
    height: 35px;
    font-size: 24px;
    border-radius: 8px;
    background-color:#730099;
    color: #f0f0f5;
    font-family: Garamond, "Times New Roman", serif;
    margin-bottom: 10px;
}

.inputstyle input[type=submit]:hover {
    background-color:#380B61;
}

#formalbum {
    margin-bottom: 2em;
    width: 50%;
    float: left;
    overflow: auto;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 26px;
    text-align: left;
    color: #380B61;
}

#formimage {
    margin-bottom: 2em;
    width: 50%;
    float: right;
    overflow: auto;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 26px;
    text-align: left;
    color: #380B61;
}

#error {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 26px;
    text-align: left;
    color: #990000;
}

#success {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 26px;
    text-align: left;
    color: #004d00;
}

#none {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: Garamond, "Times New Roman", serif;
    font-size: 26px;
    color: #380B61;
}

